.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar{
    background-color: brown;
  }
  button{
    color: white;
  }
  span{
    color: whitesmoke;
    text-transform: uppercase;
  }
  .btn{
    display: flex;
    gap: 12px;
  
  }